@model Lands.Domain.Group
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Group</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupId }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Back to List", "Index", new { }, new { @class = "btn btn-success" })
    @Html.ActionLink("Add Team", "AddTeam", new { id = Model.GroupId }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Add Match", "AddMatch", new { id = Model.GroupId }, new { @class = "btn btn-default" })
</p>
<h4>Teams</h4>
@if (Model.GroupTeams.Count == 0)
{
    <h5>No teams added yet.</h5>
}
else
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GroupTeams.FirstOrDefault().Team.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GroupTeams.FirstOrDefault().Team.ImagePath)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.GroupTeams)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Team.Name)
                </td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Team.ImagePath))
                    {
                        <img src="@Url.Content(item.Team.ImagePath)" alt="Image" style="width:80px;height:80px;max-width: 100%; height: auto;" />
                    }
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteTeam", new { id = item.GroupTeamId },new { @class = "btn btn-danger", onclick = "return confirm('Are you sure to delete this team?')" })
                </td>
            </tr>
        }
    </table>
}

<h4>Matches</h4>
@if (Model.Matches.Count == 0)
{
    <h5>No matches added yet.</h5>
}
else
{
    <table class="table">
        <tr>
            <th>
                Status
            </th>
            <th>
                Date Time
            </th>
            <th>
                Local
            </th>
            <th>
                Visitor
            </th>
            <th>
                Local Goals
            </th>
            <th>
                Visitor Goals
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model.Matches)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StatusMatch.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateTime)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Local.ImagePath))
                {
                    <img src="@Url.Content(item.Local.ImagePath)" alt="Image" style="width:50px;height:50px;max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Visitor.ImagePath))
                {
                    <img src="@Url.Content(item.Visitor.ImagePath)" alt="Image" style="width:50px;height:50px;max-width: 100%; height: auto;" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocalGoals)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorGoals)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditMatch", new { id = item.MatchId }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Delete", "DeleteMatch", new { id = item.MatchId }, new { @class = "btn btn-danger", onclick = "return confirm('Are you sure to delete this match?')" })
            </td>
        </tr>
        }
    </table>
}
