@model Lands.Domain.GroupTeam

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GroupTeam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Group.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Team.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Team.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.GroupTeamId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
