@model IEnumerable<Lands.Domain.Prediction>

@{
    ViewBag.Title = "Index";
}

<h2>Predictions</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Board
        </th>
        <th>
            Local
        </th>
        <th>
            Visitor
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FullName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LocalGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitorGoals)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Points)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Board.BoardId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match.Local.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Match.Visitor.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LocalGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VisitorGoals)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Points)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.PredictionId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PredictionId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PredictionId })
        </td>
    </tr>
}

</table>
