@model IEnumerable<Lands.Domain.Board>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BoardStatus.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImagePath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WayPayed)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BoardStatus.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImagePath)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WayPayed)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BoardId }) |
            @Html.ActionLink("Details", "Details", new { id=item.BoardId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BoardId })
        </td>
    </tr>
}

</table>
